* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  background-color: #000;
}


.content {
  display: flex;
}

.socials {
  float: right;
  padding-top: 20px;
}

.socials img {
  margin-right: 20px;  
}

#hamburger {
  width: 40px;
  height: 30px;
  display: block;
  position: relative;
  float: right;
  transform: rotate(180deg);
}


#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 7px;
  width: 75%;
}

#hamburger span:nth-child(3) {
  top: 14px;
  width: 50%;
}

.footer {
  padding: 20px;
}


/* MEDIA QUERIES */


@media only screen and (max-width: 600px) {

  .header{
      padding: 20px;
      margin-bottom: 0px;
  }

  .desktop {
      text-align: center;
      display: none;
  }
  
  .mobile {
      text-align: center;
      display: block; 
      padding-left: 20px; 
      padding-right: 20px;    
  }

  .mobile img {
      margin-top: 30px;
      width: 100%;
  }

  .menu {
      display: none;
  }

  .mobile-header {
      display: block;
      color: #fff;
      margin-top: 30px;
      font-size: 36px;
  }

  .content img, .socials {
      display: none;
  }

  .socials-mobile {
      display: flex;
      float: right;
  }

  .socials-mobile p {
      margin-left: 20px;
  }

  .footer {
      margin-top: 40px;
  }

  .footer p {
      color: #fff;
      font-size: 12px; 
      font-weight: bold;      
  }

  .col-sm-6 {
      width: 50%;
  }
}

@media only screen and (min-width: 600px) {

  .header{
      padding: 20px;
      margin-bottom: 60px;
  }

  .desktop {
      text-align: center;
      display: block;
  }
  
  .mobile {
      text-align: center;
      display: none;    
  }

  .menu {
      color: #fff;
      float: right;
      font-size: 18px;
      margin-right: 20px;
      display: block;
      margin-top: 10px;
      font-weight: bold;
  }

  .footer p {
      color: #fff;
      font-size: 20px;
      margin-left: 10px;
      vertical-align: middle;
      margin-top: 18px;
  }

  .socials {
      display: block;
  }

  .mobile-header, .socials-mobile {
      display: none;
  }

}
